{% extends 'top.html' %}
{% load static %}
{% block content %}
<head>
    <link rel="stylesheet" href="{% static 'assign_work.css' %}">
</head>




<form method="post" action="{% url 'district' %}">
    {% csrf_token %}
    <div id="heading">State</div>
    {{ state_form.state }}
    <input id="button" type="submit" value="Change State">
</form>

<form method="post" action="{% url 'blocks' %}">
    {% csrf_token %}
    <div id="heading">District</div>
    {{ district_form.district }}
    <input id="button" type="submit" value="Change District">
</form>

<form id="openview"method="post" action=" {% url 'select_installer' %} ">
    {% csrf_token %}
    <div id="heading">Select Block</div>
    {{ block_form.blocks }}
    <input id="button" type="submit" value="Submit">
</form>

{% endblock %}
